<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6">
    <h1 class='mb-3'><%= t('views.events.pincode.title') %></h1>

    <%= form_tag(event_path(@event), method: 'post') do |f| %>
      <div class='mb-3'>
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
      </div>

      <div class='actions mb-1'>
        <%= submit_tag t('views.events.pincode.submit'), class: 'btn btn-primary', data: { turbo: false } %>
      </div>
    <% end %>
    <%= link_to t('views.links.all_events'), events_path %>
  </div>
</div>
