<div class="col-lg-4 col-md-6 mb-3">
  <div class="card">
    <img src="<%= asset_path( 'event.jpg' ) %>" />
    <div class="card-body">
      <h3><%= @event.title %></h3>
      <h3><small><%= l @event.datetime, format: :short %></small></h3>
      <h3><small><%= @event.description %></small></h3>
      <h4><small><%= t('views.events.show.place') %>: <%= link_to @event.address,
        "https://yandex.ru/maps/?text=#{@event.address}" %></small></h4>

      <% if current_user_can_edit?(@event) %>
        <div class="buffer-both">
          <%= link_to t('views.events.edit.action'), edit_event_path(@event),
            class: 'btn btn-primary mb-2' %>
          <%= button_to t('views.events.destroy.action'), event_path(@event),
            form: { data: { turbo_confirm: t('views.events.destroy.confirmation') } },
            method: :delete, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="event-comments">
      <h4><%= t('views.comments.title') %></h4>
      <%= render partial: 'comments/form',
        locals: {comment: @new_comment || @event.comments.build} %>

      <div class="buffer-both">
        <%= render partial: 'comments/comment',
          collection: @event.comments.except(@new_comment) %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="event-owner">
      <h4><%= t('views.subscriptions.invite') %></h4>
      <p><%= render partial: 'users/user', object: @event.user %></p>
    </div>
    <div class="event-subscriptions">
      <h4><%= t('views.subscriptions.come') %></h4>
      <div>
        <p>
        <%= render partial: 'subscriptions/subscription',
          collection: @event.subscriptions.except(@new_subscription) %>
        </p>
      </div>
    </div>
    <div class="event-subscription-form">
      <% if current_user_can_subscribe?(@event) %>
        <h4><%= t('views.subscriptions.i_come') %></h4>
        <div>
          <%= render partial: 'subscriptions/form', locals: {
            subscription: @new_subscription || @event.subscriptions.build
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
