<div class="row align-items-center">
  <div class="col-lg-4 col-md-5 mb-3">
    <div class="card">
      <img src="<%= asset_path("#{event_photo(@event)}") %>" />
      <div class="card-body">
        <h3><%= @event.title %></h3>
        <h3><small><%= l @event.datetime, format: :short %></small></h3>
        <h3><small><%= @event.description %></small></h3>
        <h4><small><%= @event.address %></small></h4>

        <% if current_user_can_edit?(@event) %>
          <div class="buffer-both">
            <%= link_to t('views.events.edit.action'), edit_event_path(@event),
              class: 'btn btn-primary mb-2' %>
            <%= button_to t('views.events.destroy.action'), event_path(@event),
              form: { data: { turbo_confirm: t('views.events.destroy.confirmation') } },
              method: :delete, class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-7 mb-3">
    <div id="map" data-address="<%= @event.address %>" style="width: 100%; height: 480px"></div>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <div class="event-comments">
      <h4><%= t('views.comments.title') %></h4>
      <%= render partial: 'comments/form',
        locals: {comment: @new_comment || @event.comments.build} %>

      <div class="buffer-both">
        <%= render partial: 'comments/comment',
          collection: @event.comments.except(@new_comment) %>
      </div>
    </div>

    <div class="event-photos">
      <% if user_signed_in? %>
        <h4><%= t('views.photos.title') %></h4>
        <div class="event-photo-form">
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      <% end %>

      <div class="event-photos-gallery">
        <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="event-owner">
      <h4><%= t('views.subscriptions.invite') %></h4>
      <p><%= render partial: 'users/user', object: @event.user %></p>
    </div>
    <div class="event-subscriptions">
      <% if @event.subscribers.present? %>
        <h4><%= t('views.subscriptions.come') %></h4>
        <div>
          <p>
          <%= render partial: 'subscriptions/subscription',
            collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="event-subscription-form">
      <% unless @event.user == current_user %>
        <div>
          <%= render partial: 'subscriptions/form', locals: {
            subscription: @new_subscription || @event.subscriptions.build
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
