<div class="col-sm-6 col-md-4 mb-3">
  <div class="card">
    <img src="<%= asset_path( 'event.jpg' ) %>" />
    <div class="card-body">
      <h3><%= link_to @event.title, event_path(@event) %></h3>
      <h3><small><%= @event.datetime %></small></h3>
      <div class="buffer-both"><%= @event.address %></div>

      <% if current_user_can_edit?(@event) %>
        <div class="buffer-both">
          <%= link_to 'Изменить', edit_event_path(@event),
            class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
