<%= form_for [@event, subscription] do |f| %>
    <%= render partial: 'partials/form_errors', locals: { model: subscription } %>

    <% unless user_signed_in? %>
        <div class="form-group">
          <%= f.label :user_name, t('views.subscriptions.user_name') %>
          <%= f.text_field :user_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :user_email, t('views.subscriptions.user_email') %>
          <%= f.text_field :user_email, class: 'form-control' %>
        </div>
    <% end %>

    <div class="actions mt-3 mb-3">
      <%= f.submit t('views.buttons.subscribe'), class: 'btn btn-primary', data: { turbo: false } %>
    </div>
<% end %>
