<h1><%= I18n.t('views.event_mailer.photo.title') %></h1>
<%= image_tag(@photo.photo.thumb.url) %>
<p><%= I18n.t('views.event_mailer.comment.author') %>: <strong><%= @photo.user.name %></strong></p>

<hr/>

<%= I18n.t('views.event_mailer.photo.event') %>
<h3><%= link_to(@event.title, event_url(@event)) %></h3>

<%= I18n.t('views.event_mailer.photo.datetime') %>
<h4><%= l @event.datetime, format: :short %></h4>

<%= I18n.t('views.event_mailer.photo.creator') %>
<h4><%= @event.user.name %></h4>
