<p><%= t('views.users.change.title') %> <%= @resource.email %>!</p>

<p><%= t('views.users.change.password.message'). %></p>

<p><%= link_to t('views.users.password.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('views.users.change.password.ignore'). %></p>
<p><%= t('views.users.change.password.instruction'). %></p>
